body {
  font-family: sans-serif;
  background-color: #fff;
  color: #222;
  transition: background-color 0.3s, color 0.3s;
  padding: 30px;
  margin-right: 25px;
}

.theme-toggle {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.js-date {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.buttom-button {
  display: flex;
  justify-content: start;
  align-items: center;
}
.moon {
  scale: 1.2;
}
.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.dark-mode input,
.dark-mode select,
.dark-mode button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.task-input {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
}
.task-input input {
  height: 20px;
  width: 90px;
}
.task-input input,
.task-input select,
button {
  margin: 5px;
  padding: 5px;
  background: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

li.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.priority-low {
  border-left: 5px solid green;
}
.priority-medium {
  border-left: 5px solid orange;
}
.priority-high {
  border-left: 5px solid red;
}

.about-js {
  background: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png")
    no-repeat right center;
  background-size: 30px;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #dc9806;
}

button {
  border-radius: 3px;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.1);
  }
}
